.User {
    margin: 10px 5px;
    padding: 3px;
    box-shadow: 0 0 5px rgb(108, 108, 131);
}

.foto {
    max-width: 300px;
}

@media (max-width: 769px) {
    .User {
        width: 16rem;
        margin: 10px auto;
    }
}