.Picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    border: 1px solid green;
}

.view {
    position: relative;
    z-index: 30;
}

.view span {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 40;
    color: rgb(183, 238, 138);
    font-size: 30px;
}

.view img {
    display: block;
    width: 100%;
    height: auto;
}



