.Picture {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
}

.view {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 30;
}

.view img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}



