.block {
    margin: auto;
    box-shadow: none;
    transition: .4s ease-in;
}

.block:hover {
    box-shadow: 0px 0px 5px 2px rgb(86, 197, 86);
}

.overlay {
    opacity: 0;
    transition: opacity .3s ease-out;
    font-size: 1vw;
}

.overlay:hover {
    opacity: 1;
}

.pixabay_logo {
    width: 50%;
}

