.Search {
    margin: 0 auto 15px;
    
    input {
        padding-left: 23px;
    }

    .icon_search {
        position: absolute;
        top: 9px;
        left: 20px;
        font-size: 14px;
    }
}