.Auth {
    padding: 15px;
    margin: 0 auto;
    border: 1px solid rgb(168, 148, 148);
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgb(202, 199, 199);
}

.Auth input {
    padding-left: 10px;
}

@media (max-width: 575px) {
    .Auth {
        border-radius: 0;
    }
}

@media (max-width: 310px) {
    .Auth button {
        width: 100%;
    }
}